.side {
  width: 360px;
  height: 100%;
}

.side__header {
  padding: 10px 16px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.side__header-chat-title {
  flex: 2;
  text-align: center;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 600;
  margin-left: 40px;
  color: var(--dark-text);
}

.side__header-user-pic {
  height: 36px;
  width: 36px;
}

.side__header-user-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.side__header-icons {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.side__message-room-icon,
.side__new-chat-icon {
  width: 36px;
}