.side {
  width: 360px;
  height: 100%;
}

.side__header {
  padding: 10px 16px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.side__header-chat-title {
  flex: 2;
  text-align: center;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 600;
  margin-left: 40px;
  color: var(--dark-text);
}

.side__header-user-pic {
  height: 36px;
  width: 36px;
  cursor: pointer;
}

.side__header-user-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.side__header-icons {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.side__message-room-icon,
.side__new-chat-icon {
  border-radius: 50%;
  display: flex;
  height: 35px;
  width: 35px;
  justify-content: center;
  align-items: center;
}

.side__message-room-icon:hover,
.side__new-chat-icon:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

/* Search bar */
.side__search-bar {
  padding: 6px 16px 12px;
  position: relative;
}

.side__search-bar input {
  width: 100%;
  border-radius: 50px;
  color: #1C1E21;
  height: 36px;
  border: 0;
  background-color: #F0F2F5;
  padding: 7px 6px 7px 31px;
}

.side__search-bar input:focus {
  outline: none;
}

.side__search-bar input::-webkit-input-placeholder { /* Edge */
  font-size: .9375rem;
}

.side__search-bar input:-ms-input-placeholder { /* Internet Explorer */
  font-size: .9375rem;
}

.side__search-bar input::placeholder {
  font-size: .9375rem;
}

.side__search-icon svg path {
  fill: #65676B;
}

.side__search-icon {
  position: absolute;
  position: absolute;
  top: 16px;
  left: 25px;
}