@font-face {
  font-family: 'SegoeReg';
  src: url('./SegoeReg.ttf');
}

@font-face {
  font-family: 'SegoeSemiBold';
  src: url('./SegoeSemiBold.ttf');
}

@font-face {
  font-family: 'SegoeBold';
  src: url('./SegoeBold.ttf');
}
